body{
  margin: 0;
  background-color: black;
}
@import url('//brick.a.ssl.fastly.net/Raleway:200,900');

.hpTitle {
  margin: 2em;
}

.hpTitle h1 {
  font-family: 'Raleway';
  font-size: 2.7em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -2px;
  color: #222;
  margin-bottom: .3em;
}

.hpTitle h2 {
  font-family: 'Raleway';
  font-weight: 200;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
}

.hpTitle h2 span.cursor {
  display: inline-block;
  background: #333;
  margin-left: 1px;
  width: .05em;
  animation: blink 2s linear 0s infinite;
}

.hpTitle h2.typing span.cursor {
  animation: none;
}

@keyframes blink {
  0% {
    background: #FFF
  }
  47% {
    background: #FFF
  }
  50% {
    background: #333
  }
  97% {
    background: #333
  }
  100% {
    background: #FFF
  }
}

.homepage {
    padding-top: 1px;
    background-color: white;
    background-image: url("gallery/fondhome.png");
}

.homepage #game {
  background-color: black;
  border-color: black;
  padding: 0;
  margin-bottom: 43%;
}


.homepage .corpage{
  font-style: Roboto;
  background-color: black;
  background: url("gallery/lvl3.jpg");
    padding-top: 10%;
    background-attachment: fixed;
}

.homepage .jeux {
  margin-top: 20px;
  margin-left: 39%;
}

.homepage img {
  height: 130px;
  width: 250px;
}


.homepage .commentaries {

  text-align: center;
  background-color: #d7dde8;
  margin-right: 20%;
  margin-left: 20%;
border-style: solid;
border-color: #757f9a;
border-width: 1px;
border-radius: 5px;
opacity: 0.8;

}

.homepage .comz {
  margin-bottom: 0%;
}

.homepage .form{

  padding-top:  10%;
  background-color: black;
  background: url("gallery/lvl3.jpg");
  margin-top: -10%;
  text-align: center;
  background-attachment: fixed;
  padding-bottom: 10%;
  color: white;
}

.world {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content:space-around;
  padding-right: 10%;
  padding-top: 25%;
  background-image: url("gallery/fondworld.png");
  background-size: 100%;
  padding-bottom: 25%;
}

.world .lvl {
margin-left: 30%;
}

.world .items{
  height: 100px;
  width: 100px;
}

.world .char{
  position: absolute;
  margin-right: 70%;
}

.game a{
    text-decoration: none;
}

.game a p{
  text-align: center;
  border: #68fdff solid 3px;
  box-shadow: inset 0 0 10px #68fdff, 0 0 10px #68fdff;
  color: #DB46FF;
  padding: 10px;
  border-radius: 50px;
  margin: 6px 5%;
  text-shadow: 0 0 10px #DB46FF;
  cursor: pointer;
}
